@import "tailwindcss";

@theme {
  --color-dark: #131313;
  --color-background: #202329;
  --color-primary: #3f4654;
  --color-primarySecond: #6B8AFD;
  --color-secondary: #30E0A1;
  --color-tertiary: #EB7050;
}


